$accent-color: #22A0BC;
$additional-1-color: #161616;
$additional-2-color: #595959;
$additional-3-color: #9C9C9C;
$additional-4-color: #DADADA;
$additional-5-color: #F4F4F4;
$additional-6-color: #FDFDFD;